﻿.Fizz, .Wizz {
    color: blue;
}

.Buzz, .Wuzz {
    color: green;
}

button :first-child {
    color: black;
    text-decoration: none;
}

    button :first-child:hover {
        color: black;
        text-decoration: none;
    }

.button-custom {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    color: #333;
    border-color: #ccc;
    text-decoration: none;
}

#button-margin {
    padding-left: 7%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
